* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}

body {
  background-size: cover;
  background-image: url(images/new-crime-scene.jpg);
  background-position: center;
}

h1 {
  font-weight: 700;
  font-size: 5em;
  color: powderblue;
  animation: anm1 10s linear 0s infinite normal;
}

@keyframes anm1 {
  5% {
    opacity: 0.3;
  }

  40% {
    opacity: 0.5;
  }

  70% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    color: white;
  }
}

.content {
  padding-top: 15%;
  text-align: center;
}

hr {
  width: 100%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

header {
  background-color: #2c3e3e;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
  padding: 0 6px;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 3px;
}
.logo-section img {
  width: 52px;
  border-radius: 24px;
}

#nbr {
  display: flex;
  align-items: center;
  gap: 48px;
  font-size: 22px;
}
#nbr li {
  list-style-type: none;
}

#btn {
  font-size: 16px;
  background: #f4511f;
  border: 0;
  color: white;
  border-radius: 24px;
  padding: 11px 24px;
}
#btn-home {
  font-size: 18px;
  background: #e74e20;
  border: 0;
  color: white;
  border-radius: 8px;
  padding: 10px 10px;
}

a {
  color: white;
  margin: 5px 0px;
}

a:hover {
  text-decoration: none;
  color: white;
}

.login-buttons {
  display: flex;
  margin-top: 10%;
  flex-direction: row;
  justify-content: space-evenly;
}

#ftr-txt {
  display: flex;
  background: #2c3e3e;
  height: 30px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
